
.sidebar {
    width: 260px;
    background-color: rgb(12, 17, 44); 
    transition: width 0.3s ease;
    overflow-x: hidden;
}


.sidebar.collapsed {
    width: 80px;
}


.sidebar.collapsed .sidebar-text,
.sidebar.collapsed .user-info {
    display: none;
}


.sidebar.collapsed .brand-logo {
    width: 40px !important;
}


.sidebar-link {
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.2s;
    border-radius: 8px;
}

.sidebar-link:hover,
.sidebar-link.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

/* Mobile view */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1050;
        height: 100vh;
        left: -260px;
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
    }

    
    .sidebar.mobile-show {
        left: 0;
    }

    .sidebar.collapsed {
        width: 260px;
    }

 
    .mobile-close-btn {
        display: block !important;
    }
}


.mobile-close-btn {
    display: none;
}
